## Basic Programming with Python

### List

List is an **ordered** and **mutable** collection of items. List can contain items of different data types, and they are defined by enclosing the items in square brackets `[]`

For example,

In [54]:
empty_list = []
string_list = ['Banana', 'Strawberry', 'Apple']
numbers_list = [1,2,3,4,5]

print(empty_list)
print(string_list)
print(numbers_list)

[]
['Banana', 'Strawberry', 'Apple']
[1, 2, 3, 4, 5]

There are some actions that we can do with a list:

1. *Append value into a list*

In [55]:
empty_list.append(1)
empty_list.append(2)
empty_list.append('Banana')
empty_list.append('Apple')

print(empty_list)

[1, 2, 'Banana', 'Apple']

2. *Modify a list*

In [56]:
string_list[1] = 'Carrot'

print(string_list)

['Banana', 'Carrot', 'Apple']

3. *Return number of that value in a list*

In [57]:
num_elements = string_list.count('Banana')

print("Number of element in Banana in string list: ", num_elements)

Number of element in Banana in string list:  1

4. *Sort a list*

In [58]:
sorted_list = sorted(string_list)

print(sorted_list)

['Apple', 'Banana', 'Carrot']

5. *Slicing a list*

In [59]:
print(string_list[1:2])

['Carrot']

6. *Reverse a list*

In [60]:
reverse_list = sorted(numbers_list, reverse=True)

print(reverse_list)

[5, 4, 3, 2, 1]

## Tuple 

A tuple is an **ordered** and **immutable (unchangeable)** collection of items. Tuples are defined by enclosing items in parentheses `()`

For example,

In [61]:
empty_tuple = ()

string_tuple = ('Banana', 'Apple', 'Blueberry')
number_tuple = (1,2,3,4,5,6)

print(empty_tuple)
print(string_tuple)
print(number_tuple)

()
('Banana', 'Apple', 'Blueberry')
(1, 2, 3, 4, 5, 6)

As we know that the Tuple is ordered so we can use index to view elements but we can not modify anything within the value because tuple is immutable. 

So in that case, we have fewer method to use with tuple

1. *Accessing a tuple*

In [62]:
firts_element = string_tuple[0]
print(firts_element)

slice_tuple = string_tuple[0:1]
print(slice_tuple)

Banana
('Banana',)

2. *Unpack a tuple*

In [63]:
x, y, z = string_tuple
print(x)
print(y)
print(z)

Banana
Apple
Blueberry

3. *Count number of appearance of values*

In [64]:
number_of_apple = string_tuple.count('Apple')
print("Number of appearance of Apple: ", number_of_apple)

Number of appearance of Apple:  1

4. *Return index of a specific value*

In [65]:
index_of_apple = string_tuple.index('Apple')
print(f"The index of Apple value: {index_of_apple}")

The index of Apple value: 1

## Set (Unordered && Mutable)

A set is an **unordered** and **mutable** collection of unique items where the order doesn’t matter and we **can’t have duplicates**

But when **a set is created**, the element inside is **unchangable** where we can only add or remove elements

For example,

In [66]:
empty_set = {}
fruits = {"apple", "banana", "cherry"}

# convert to a set 
numbers_set = set(numbers_list)
print(numbers_set)

{1, 2, 3, 4, 5}

As it is mutable so we can have some methods to modify a set
1. *Add a single item*

In [67]:
fruits.add("orange")

print(fruits)

{'cherry', 'banana', 'orange', 'apple'}

2. *Adds multiple items from an iterable*

In [68]:
fruits.update(["cherry", "strawberry"])

print(fruits)

{'strawberry', 'cherry', 'apple', 'banana', 'orange'}

3. *Remove an item. Raises a KeyError if the item is not found*

In [69]:
try:
    fruits.remove("potato")
except KeyError:
    print("The value does not exist, Please double check")


fruits.remove("cherry")

print(fruits)

The value does not exist, Please double check
{'strawberry', 'apple', 'banana', 'orange'}

4. *Remove an item. Does nothing if the item is not found*

In [70]:
fruits.discard("banana") # Do nothing even if banana does not exist in the set
fruits.discard("cherry")
print(fruits)

{'strawberry', 'apple', 'orange'}

#### Mathematical Set Operations 
These methods are really helpful when we have to work with 2 set and we got a mission that need to modify the elements inside 2 set. We have several options,
1. `union()` where we join all the items from both sets 
2. `intersection()` return the common items of both sets 
3. `difference()` keeps the items from the first set that are not in the other sets
4. `symmetric difference()` keeps all items EXCEPT the duplicates

In [71]:
set_1 = {1,2,3,4,5,10}
set_2 = {'apple', 'banana', 1, 2,3, 'blueberry'}

union_set = set_1.union(set_2) # or set_1 | set_2 
intersection_set = set_1.intersection(set_2) # or set_1 & set_2 
difference_set = set_1.difference(set_2) # or set_1 - set_2 
symmetric_difference_set = set_1.symmetric_difference(set_2) # or set_1 ^ set_2 

print(union_set)
print(intersection_set)
print(difference_set)
print(symmetric_difference_set)

{1, 2, 3, 4, 5, 10, 'blueberry', 'apple', 'banana'}
{1, 2, 3}
{10, 4, 5}
{4, 5, 10, 'blueberry', 'apple', 'banana'}

## Dictionary 


A dictionary is a mutable and ordered collection that stores data in key-value pairs

The key properties: 
   - **Unique keys**: Keys must be unique within a dictionary. If we assign a value to an existing key, it will overwrite the old value 
   - **Mutable**: We can *add*, *change*, or *remove key-value pairs* after the dictionary is created 
   - **Ordered**: The dictionaries remember the order in which items were inserted

An example of a dictionary

In [72]:
user_infor = {"Name": "Hung", "age": "24", "study_level": "master degree"}

empty_dict = {}

print(user_infor)
print(empty_dict)

{'Name': 'Hung', 'age': '24', 'study_level': 'master degree'}
{}

Same with other components such as list, tuple or set, the dictionary also has several methods to work with 

1. *Accessing Values*

In [75]:
print(user_infor["Name"])
print(user_infor["age"])

# or 

print(f"Another way to get age number: {user_infor.get("age")} ")

Hung
24
Another way to get age number: 24

2. *Add or Modify Items*

In [ ]:
# Add an item 
user_infor["job"] = "DevOps Engineer"

# Modify an item
six_year_later = user_infor["age"] = 30 
print(f"My age after 6 years is: {six_year_later}")

print(user_infor)

My age after 6 years is: 30
{'Name': 'Hung', 'age': 30, 'study_level': 'master degree', 'job': 'DevOps Engineer'}

3. *Remove Items* where we have several options 
  - `pop(key)` removes the item with specified key and return its value
  - `del` removes the item with the specified key 
  - `clear()` removes all items from the dictionary

In [79]:
remove_job = user_infor.pop("job")

print(remove_job)

del user_infor["age"]

print(user_infor)

DevOps Engineer
{'Name': 'Hung', 'study_level': 'master degree'}

4. *Loop through elements*

In [ ]:

# Return key
for key in user_infor:
    print(f"Here is the key: {key}")

# Return value
for value in user_infor.values():
    print(f"Here is the value in a dictionary: {value}")


for key, value in user_infor.items():
    print(f"Here is {key} and corresponding value is {value}")

Here is the key: Name
Here is the key: study_level
Here is the value in a dictionary: Hung
Here is the value in a dictionary: master degree
Here is Name and corresponding value is Hung
Here is study_level and corresponding value is master degree

## Functional Programming

### map() function 

### reduce() function 

### filter() function 

### sorted() function 

## Lambda Function