## Basic Programming with Python

### List

List is an **ordered** and **mutable** collection of items. List can contain items of different data types, and they are defined by enclosing the items in square brackets `[]`

For example,

In [95]:
empty_list = []
string_list = ['Banana', 'Strawberry', 'Apple']
numbers_list = [1,2,3,4,5]

print(empty_list)
print(string_list)
print(numbers_list)

[]
['Banana', 'Strawberry', 'Apple']
[1, 2, 3, 4, 5]

There are some actions that we can do with a list:

1. *Append value into a list*

In [96]:
empty_list.append(1)
empty_list.append(2)
empty_list.append('Banana')
empty_list.append('Apple')

print(empty_list)

[1, 2, 'Banana', 'Apple']

2. *Modify a list*

In [97]:
string_list[1] = 'Carrot'

print(string_list)

['Banana', 'Carrot', 'Apple']

3. *Return number of that value in a list*

In [98]:
num_elements = string_list.count('Banana')

print("Number of element in Banana in string list: ", num_elements)

Number of element in Banana in string list:  1

4. *Sort a list*

In [99]:
sorted_list = sorted(string_list)

print(sorted_list)

['Apple', 'Banana', 'Carrot']

5. *Slicing a list*

In [100]:
print(string_list[1:2])

['Carrot']

6. *Reverse a list*

In [101]:
reverse_list = sorted(numbers_list, reverse=True)

print(reverse_list)

[5, 4, 3, 2, 1]

## Tuple 

A tuple is an **ordered** and **immutable (unchangeable)** collection of items. Tuples are defined by enclosing items in parentheses `()`

For example,

In [102]:
empty_tuple = ()

string_tuple = ('Banana', 'Apple', 'Blueberry')
number_tuple = (1,2,3,4,5,6)

print(empty_tuple)
print(string_tuple)
print(number_tuple)

()
('Banana', 'Apple', 'Blueberry')
(1, 2, 3, 4, 5, 6)

As we know that the Tuple is ordered so we can use index to view elements but we can not modify anything within the value because tuple is immutable. 

So in that case, we have fewer method to use with tuple

1. *Accessing a tuple*

In [103]:
firts_element = string_tuple[0]
print(firts_element)

slice_tuple = string_tuple[0:1]
print(slice_tuple)

Banana
('Banana',)

2. *Unpack a tuple*

In [104]:
x, y, z = string_tuple
print(x)
print(y)
print(z)

Banana
Apple
Blueberry

3. *Count number of appearance of values*

In [105]:
number_of_apple = string_tuple.count('Apple')
print("Number of appearance of Apple: ", number_of_apple)

Number of appearance of Apple:  1

4. *Return index of a specific value*

In [106]:
index_of_apple = string_tuple.index('Apple')
print(f"The index of Apple value: {index_of_apple}")

The index of Apple value: 1

## Set (Unordered && Mutable)

A set is an **unordered** and **mutable** collection of unique items where the order doesn’t matter and we **can’t have duplicates**

But when **a set is created**, the element inside is **unchangable** where we can only add or remove elements

For example,

In [107]:
empty_set = {}
fruits = {"apple", "banana", "cherry"}

# convert to a set 
numbers_set = set(numbers_list)
print(numbers_set)

{1, 2, 3, 4, 5}

As it is mutable so we can have some methods to modify a set
1. *Add a single item*

In [108]:
fruits.add("orange")

print(fruits)

{'orange', 'banana', 'apple', 'cherry'}

2. *Adds multiple items from an iterable*

In [109]:
fruits.update(["cherry", "strawberry"])

print(fruits)

{'orange', 'apple', 'banana', 'cherry', 'strawberry'}

3. *Remove an item. Raises a KeyError if the item is not found*

In [110]:
try:
    fruits.remove("potato")
except KeyError:
    print("The value does not exist, Please double check")


fruits.remove("cherry")

print(fruits)

The value does not exist, Please double check
{'orange', 'apple', 'banana', 'strawberry'}

4. *Remove an item. Does nothing if the item is not found*

In [111]:
fruits.discard("banana") # Do nothing even if banana does not exist in the set
fruits.discard("cherry")
print(fruits)

{'orange', 'apple', 'strawberry'}

#### Mathematical Set Operations 
These methods are really helpful when we have to work with 2 set and we got a mission that need to modify the elements inside 2 set. We have several options,
1. `union()` where we join all the items from both sets 
2. `intersection()` return the common items of both sets 
3. `difference()` keeps the items from the first set that are not in the other sets
4. `symmetric difference()` keeps all items EXCEPT the duplicates

In [112]:
set_1 = {1,2,3,4,5,10}
set_2 = {'apple', 'banana', 1, 2,3, 'blueberry'}

union_set = set_1.union(set_2) # or set_1 | set_2 
intersection_set = set_1.intersection(set_2) # or set_1 & set_2 
difference_set = set_1.difference(set_2) # or set_1 - set_2 
symmetric_difference_set = set_1.symmetric_difference(set_2) # or set_1 ^ set_2 

print(union_set)
print(intersection_set)
print(difference_set)
print(symmetric_difference_set)

{1, 2, 3, 4, 5, 10, 'apple', 'banana', 'blueberry'}
{1, 2, 3}
{10, 4, 5}
{4, 5, 10, 'apple', 'banana', 'blueberry'}

## Dictionary 


A dictionary is a mutable and ordered collection that stores data in key-value pairs

The key properties: 
   - **Unique keys**: Keys must be unique within a dictionary. If we assign a value to an existing key, it will overwrite the old value 
   - **Mutable**: We can *add*, *change*, or *remove key-value pairs* after the dictionary is created 
   - **Ordered**: The dictionaries remember the order in which items were inserted

An example of a dictionary

In [113]:
user_infor = {"Name": "Hung", "age": "24", "study_level": "master degree"}

empty_dict = {}

print(user_infor)
print(empty_dict)

{'Name': 'Hung', 'age': '24', 'study_level': 'master degree'}
{}

Same with other components such as list, tuple or set, the dictionary also has several methods to work with 

1. *Accessing Values*

In [114]:
print(user_infor["Name"])
print(user_infor["age"])

# or 

print(f"Another way to get age number: {user_infor.get("age")} ")

Hung
24
Another way to get age number: 24

2. *Add or Modify Items*

In [115]:
# Add an item 
user_infor["job"] = "DevOps Engineer"

# Modify an item
user_infor["age"] = 30 
print(f"My age after 6 years is: {user_infor["age"]}")

print(user_infor)

My age after 6 years is: 30
{'Name': 'Hung', 'age': 30, 'study_level': 'master degree', 'job': 'DevOps Engineer'}

3. *Remove Items* where we have several options 
  - `pop(key)` removes the item with specified key and return its value
  - `del` removes the item with the specified key 
  - `clear()` removes all items from the dictionary

In [116]:
remove_job = user_infor.pop("job")

print(remove_job)

del user_infor["age"]

print(user_infor)

DevOps Engineer
{'Name': 'Hung', 'study_level': 'master degree'}

4. *Loop through elements*

In [117]:

# Return key
for key in user_infor:
    print(f"Here is the key: {key}")

# Return value
for value in user_infor.values():
    print(f"Here is the value in a dictionary: {value}")


for key, value in user_infor.items():
    print(f"Here is {key} and corresponding value is {value}")

Here is the key: Name
Here is the key: study_level
Here is the value in a dictionary: Hung
Here is the value in a dictionary: master degree
Here is Name and corresponding value is Hung
Here is study_level and corresponding value is master degree

## Functional Programming

A programming paradigm where programs are built using functions as the main building blocks 

1. It emphasizes what to do rather how to do it 
2. Function can be passed around just like variables 

Python provides tool that support Functional Programming styles: 
1. map()
2. filter()
3. reduce()
4. lambda function 
5. sorted()

### map() function

This is the same with loop but more convenience. Basically, it applies a function to every item in iterable objects such as list, tuple, ....

Its syntax should be 
`map(function, iterable_object)`

For example,

In [118]:
new_list = ['Banana', 'Apple', 'Orange', 'Grape']

upper_list = list(map(lambda a: a.upper(), new_list))

print(f"Upper case list: {upper_list}")

Upper case list: ['BANANA', 'APPLE', 'ORANGE', 'GRAPE']

### reduce() function

This one will applies a function cumulatively to the items of the iterable, reducing it to a single value 

Its syntax

`reduce(function, iterable, [initilizer])`

This function must accept 2 parameters
1. One parameter represent the last result
2. Another parameter represents for the current item

For example,

In [119]:
## Suppose we want to create a sum of a list 
from functools import *

sum_value = reduce(lambda a,b: a + b, new_list)

print(f"Sum value of the list: {sum_value}")

Sum value of the list: BananaAppleOrangeGrape

### filter() function 

This one will help us to keep only the elements where the function return True. The syntax should be 

`filter(function, iterable)`

This function will return only *True* or *False*

For example,

In [120]:
apple_value_list = list(filter(lambda a: a == 'Apple', new_list))

print(f"Apple value from the list: {apple_value_list}")

Apple value from the list: ['Apple']

### sorted() function 

Based on its name, this one will help us to sort the iterable either in descending or asccending order

Its syntax 
`sorted(iterable, key=value, reverse=True/False)`

In [121]:
sorted_new_list = sorted(new_list, key=len , reverse=True)

print(f"Here is the sorted order by len in reversed way: {sorted_new_list}")

Here is the sorted order by len in reversed way: ['Banana', 'Orange', 'Apple', 'Grape']


### Lambda Function 

A lambda function is small, anonymous (no name) function. So this function will be defined as 
1. Using the keyword `lambda`
2. Syntax would be 
`lambda arguments: expressions`

For example,

In [122]:
def increase_value(a):
    return a + 1 

# Which then equivelence to 

increase_val = lambda a: a + 1

print(f"Value of normal function: {increase_value(5)}")
print(f"Value of lambda function: {increase_val(5)}")

Value of normal function: 6
Value of lambda function: 6

We can use lambda function with above FP methods such as `map()`, `filter()`, `reduce()`,....

For example,

In [123]:
initial_list = [1,2,3,4,5,6]

new_increase_list = list(map(lambda a: a + 1, initial_list))

print(f"List after update with map() and lambda function: {new_increase_list}")

List after update with map() and lambda function: [2, 3, 4, 5, 6, 7]

In [124]:
# Or we can use with filter 

odd_list = list(filter(lambda a: a%2==0, initial_list))

print(f"New list after apply filter with lambda function: {odd_list}")

New list after apply filter with lambda function: [2, 4, 6]

## args & kwargs 

### args (Non-keyword arguments)

This one let a function accept any number of positional arguments 

Inside the function, `args` will be a **tuple**

In [125]:
def add_numbers(*args):
    print(args)
    return sum(args)

two_number_sum = add_numbers(2,3)
three_number_sum = add_numbers(2,3,4)
four_number_sum = add_numbers(2,3,4,5)

print(two_number_sum)
print(three_number_sum)
print(four_number_sum)

(2, 3)
(2, 3, 4)
(2, 3, 4, 5)
5
9
14

### kwargs (Keyword Arguments)

This will let a function accept any number of keyword arguments 

Inside the function, `kwargs` will be a **dictionary**

In [126]:
def print_info(**kwargs):
    for key, value in kwargs.items():
        print(f"{key}: {value}")

print_info(name="Hung", age=24, study_level="Master")

name: Hung
age: 24
study_level: Master

So if we combine these 2 `args` and `kwargs`, we will provide a dynamic function which can accept the value based on user input

In [127]:
def mix_example(*args, **kwargs):
    print("Positional args:", args)
    print("Keyword args:", kwargs)

mix_example(1, 2, 3, name="Bob", age=30)

Positional args: (1, 2, 3)
Keyword args: {'name': 'Bob', 'age': 30}

In this case, if we pass to function non-key argument, it will fall to *args* and if we provide more details with keyword arguments, the function will use *kwargs*