## Question 1 

What is the different between a list and a tuple ? 

- A list is ordered and mutable 
- A tuple is ordered and immutable

## Question 2 

How do you create an empty dictionary ?

In [ ]:
emp_dict = {}

## Question 3 

Predict the output

In [ ]:
my_set = {1, 2, 3, 2}
print(my_set)

The output is {1,2,3}

## Question 4 

Which list method removes and returns the last element? 

pop() method

In [11]:
another_list = [1,2,3,4,5,6]

print(another_list.pop())

6

## Question 5 

Write a one-liner to create a tuple containing numbers 1 to 5

In [ ]:
new_tuple = {1,2,3,4,5}

## Question 6 

How do you check if a key exists in a dictionary ?

In [1]:
key_to_find = "Name"

test_dict = {"Name": "John", "Age": 24, "Job": "Sale"}

check_value = True if key_to_find in test_dict.keys() else False

print(check_value)

True

## Question 7 

Predict the output:

In [ ]:
fruits = ["apple", "banana", "cherry"]
print(fruits[1])

The output is: banana

## Question 8 

Can sets contain duplicate values ? 

No, set cannot contain duplicate values

## Question 9 

Which operator is used to concatenate 2 lists ? 

extend() method

In [9]:
list_1 = ["Banana", "Apple", "Orange"]
list_2 = [1,2,3,4,5]

new_list = list_1.extend(list_2)

print(list_1)

['Banana', 'Apple', 'Orange', 1, 2, 3, 4, 5]

## Question 10 

How do you get the length of a list in Python ? 

len() method

In [10]:
len(list_1)

8

## Question 11 

Predict the output:

In [12]:
a = [1, 2, 3]
b = a
b.append(4)
print(a)

[1, 2, 3, 4]

The output is: [1,2,3,4]

## Question 12 

Write a list comprehension that generates [0,1,4,9,16]

In [ ]:
generate_list = [i**2 for i in range(0,5)]

print(generate_list)

[0, 1, 4, 9, 16]

## Question 13 

How do you reverse a list in place? 

We can use sorted() method with reverse = True

In [22]:
insorted_method = [2,4,1,6,5,12,11,10]

print(sorted(insorted_method, reverse=True))

[12, 11, 10, 6, 5, 4, 2, 1]

## Question 14 

Predict the output:

In [ ]:
nums = [10, 20, 30, 40]
print(nums[1:3])

The output should be: [20,30]

## Question 15

What is the difference between `(1)` and `(1,)` ? 

There are no different between them, just a set with only 1 element

## Question 16 

Why might you use a tuple instead of a list ? 

As we mention the different between a tuple and a list is immutable and mutable

So I think we only use tuple in case we don't allow to change element after we establish

## Question 17 

Predict the output:

In [23]:
t = (1, 2, [3, 4])
t[2].append(5)
print(t)

(1, 2, [3, 4, 5])

The output should be: (1,2, [3,4,5])

As we can not add or remove an element in tuple but we can do with a list

## Question 18 

How do you find the union and intersection of `{1,2,3}` and `{3,4,5}`

In [24]:
set_1 = {1,2,3}
set_2 = {3,4,5}

union_set = set_1 & set_2
intersection_set = set_1 | set_2

print(union_set)
print(intersection_set)

{3}
{1, 2, 3, 4, 5}

## Question 19 

Predict the output:

In [26]:
s = {1, 2, 3}
s.discard(4)
print(s)

{1, 2, 3}

As discard() method in set is remove an element and do nothing when we don't find that element 

=> We can still print the set s as an output

## Question 20 

Which set method removes an element and raises an error if the element is missing ?

the remove() method

In [29]:
try:
    s.remove(4)
except KeyError:
    print("The value does not exist in a set")

# s.remove(4)

The value does not exist in a set

## Question 21 

How do you check if 2 sets are disjoint ?

I will check if the union of these 2 is empty or not

In [31]:
check_value_1 = True if len(union_set) == 0 else False

print(check_value_1)

False

## Question 22 

Predict the output:

In [ ]:
s = {1, 2, 3}
print(2 in s)

The output should be **True**

## Question 23

Write a dictionary comprehension that maps numbers 1-5 to their squares

In [33]:
new_dict = {i : i**2 for i in range(1,6)}

print(new_dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

## Question 24 

Predict the output:

In [ ]:
d = {"x": 1, "y": 2}
for k, v in d.items():
    print(k, v)

The output should be 
x 1 
y 2

## Question 25 

What does `d.get("c", 99)` return if key `"c"` does not exist? 

The get() method accept 2 things 
- "c" the key that we are looking for 
- 99 -> the value if the key is not found

So the solution is it returns 99 if the key "c" does not exist

## Question 26 

Which dictionary method allows you to remove and return a key-value pair?

pop() method

## Question 27 

How do you merge 2 dictionary in Python 3.9+ 

We can use | operator for Python 3.9+, For example

In [35]:
another_dict = {"Graduate": "True", "Salary": "1k$"}

merge_dict = new_dict | another_dict

print(merge_dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 'Graduate': 'True', 'Salary': '1k$'}

## Question 28 

Predict the output:

In [ ]:
d = {"a": [1, 2]}
d["a"].append(3)
print(d)

The output should be: 

{"a": [1,2,3]}

## Question 29 

Write code to count character frequencies in the string "banana" using a dictionary

In [37]:
fruits_dict = {
    "Fav": "banana",
    "Like": "banana",
    "Love": "banana"
}

count = 0 

for i in fruits_dict.keys():
    if i == "banana": 
        count+= 1 

for i in fruits_dict.values():
    if i == "banana": 
        count+= 1 

print(count)

3

## Question 30 

Predict the output:

In [ ]:
nums = [1, 2, 3]
print(list(map(lambda x: x*2, nums)))

The output should be [2,4,6]

## Question 31

How is filter() different from map() ? 

filter() function use to return a value that satisfy the function 

map() function use to apply the function to every element in an iterable

## Question 32 

Write code using map() to conver `["1", "2", "3"]` into `[1,2,3]`

In [38]:
string_list = ["1", "2", "3"]
print(list(map(lambda i: int(i), string_list)))

[1, 2, 3]

## Question 33 

Write code using filter() to extract even numbers from `[1,2,3,4,5,6]`

In [39]:
int_list = [1,2,3,4,5,6]

print(list(filter(lambda i: i%2 == 0, int_list)))

[2, 4, 6]

## Question 34

Predict the output:

In [ ]:
from functools import reduce
nums = [1, 2, 3, 4]
print(reduce(lambda x, y: x+y, nums))

The output should be 10

## Question 35 

Write a one-liner using `reduce()` to compute the product of `[1,2,3,4]`

In [41]:
from functools import reduce
non_product_list = [1,2,3,4]

print(reduce(lambda a,b: a*b, non_product_list))

24

## Question 36 

Predict the output:

In [42]:
words = ["banana", "apple", "cherry"]
print(sorted(words, key=len))

['apple', 'banana', 'cherry']

The output should be ["apple", "banana", "cherry"]. 

The reason why banana come first cherry 
- Both have the same length as 6 -> Need to consider the origin order 
- As banana is the beginning of the list and cherry is the third one so banana will come first

## Question 37 

How do you sort a dictionary by its values?

In [43]:
unsorted_dict = {
    "Name": "John",
    "Age": 24,
    "Salary": 1000
    
}

print(sorted(unsorted_dict,key=lambda i: i[1]))

['Name', 'Salary', 'Age']

## Question 38 

Predict the output:

In [44]:
data = [0, 1, 2, 3]
print(list(filter(None, data)))

[1, 2, 3]

## Question 39 

What is the difference between `*args` and `**kwargs` ?