## Easy Exercises ( 10 Questions)

### Question 1

(List) Create a list named colors containing three of your favorite colors. Print the second color in the list.

In [ ]:
colors_list = ['red', 'yellow', 'blue', 'green', 'black']
print(colors_list[1])

yellow

## Quesition 2

(Dictionary) Create a dictionary to represent a car with keys for "brand", "model", and "year". Print the value associated with the "model" key.

In [6]:
car_infor = {"brand": "BMW", "model": "i6", "year": 2024}

print(car_infor["model"])

i6

## Question 3

(Set) Given the list [1, 2, 2, 3, 4, 3, 5], create a set from it to remove the duplicates and print the resulting set.

In [ ]:
test_list = [1, 2, 2, 3, 4, 3, 5]

new_set = set(test_list)

print(new_set)

{1, 2, 3, 4, 5}

## Question 4

(List) Start with the list [10, 20, 30]. Use the append() method to add the number 40 to the end of the list.

In [ ]:
test_list = [10, 20, 30]

test_list.append(40)

print(test_list)

[10, 20, 30, 40]

## Question 5

(Tuple) Create a tuple named weekdays containing the days of the week from "Monday" to "Friday". Try to change the first element to "Sunday" and observe the error.

In [4]:
weekdays = ('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday')

# As the Tuple is immutable so we can not change an element inside a tuple
try:
  weekdays[1] = 'Not Tuesday'
except TypeError:
  print("Tuple can not change its element")

Tuple can not change its element

## Question 6

(Dictionary) Add a new key-value pair to the car dictionary from exercise 2. The new key should be "color" and its value can be any color you like.

In [7]:
car_infor["color"] = "yellow"

print(car_infor)

{'brand': 'BMW', 'model': 'i6', 'year': 2024, 'color': 'yellow'}

## Question 7

(Set) Create a set of your favorite fruits and use the add() method to add a new fruit to it.

In [8]:
fav_fruits = {'Banana', 'Apple', 'Orange', 'Grape'}
fav_fruits.add('Blueberry')

print(fav_fruits)

{'Banana', 'Blueberry', 'Grape', 'Apple', 'Orange'}

## Question 8

(List) From the list ['a', 'b', 'c', 'd', 'e'], use negative indexing to print the last item.

In [9]:
alphabet_list = ['a', 'b', 'c', 'd', 'e']
print(alphabet_list[-1])

e

## Question 9

(Dictionary) Use the .get() method to safely access the value for the key "engine" in your car dictionary. Provide a default value of "Not specified".

In [12]:
car_infor

print(car_infor.get('engine', 'Not specified'))

Not specified

## Question 10

(Tuple) Create a tuple with only one item, the number 50. Remember the special syntax for this.

In [16]:
new_tuple = (50,)

print(new_tuple)

(50,)